<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{page.title}} - Feeds by thechelsuk</title>
        <meta charset="UTF-8">
        <meta name="title" content="{{page.title}} -  Feeds by thechelsuk">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{page.description}} - feeds by thechelsuk">
        <meta name="keywords" content="News Feeds for the discerning insurance tech professional">
        <link rel="canonical" href="{{ canonical_url }}">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="address=no">
        <meta name="HandheldFriendly" content="True">
        <meta name="theme-color" content="#005CA3">
        <meta name="robots" content="index,follow">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-title" content="Feeds">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <link rel="stylesheet" href="/assets/style.css">
        <link href="/assets/TheChelsLight.woff" rel="preload" crossorigin as="font" type="font/woff">
        <link href="/assets/TheChelsMedium.woff" rel="preload" crossorigin as="font" type="font/woff">
        <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
        <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="/assets/favicon.ico" rel="apple-touch-icon" type="image/x-icon" />
        <link href="/assets/favicon.ico" rel="apple-touch-icon-precomposed" type="image/x-icon" />

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="{{ page.title }}" />
        <meta itemprop="description" content="{{ page.description | escape }}" />
        <meta itemprop="image" content="{{ '/assets/icons/apple-touch-icon.png' | absolute_url }}" />

        <!-- OG-->
        <meta property="og:site_name" content="{{ site.title | escape }}">
        <meta property="og:title" content="{{ page.title | escape }}">
        <meta property="og:description" content="{{ page.description | escape }}">
        <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
        <meta property="og:url" content="{{ self_url }}">
        <meta property="og:image" content="{{ '/assets/icons/apple-touch-icon.png' | absolute_url }}">

        <!-- twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{page.title}}" />
        <meta name="twitter:description" content="{{ page_description | escape }}" />
        <meta name="twitter:image" content="{{ '/assets/icons/apple-touch-icon.png' | absolute_url }}" />

        <!-- verify -->
        <meta name="msvalidate.01" content="0792E4237BC516A9033CB784F6F629E1" />
    </head>
    <body>
        <div id="outer-wrapper">
            <div id="wrapper">
                <header id="header">
                    <ul class="skip-link-ul">
                        <li>
                            <a href="#main" class="skip-link">Skip to main content</a>
                        </li>
                    </ul>
                    <div class="blog-title">
                        Feeds
                    </div>
                    <div class="blog-image"></div>
                    <p class="blog-slogan">
                        // Latest news and trends for the discerning insurance tech professional
                    </p>
                    <nav class="blog-menu">
                        {% if page.id %}
                        <a href="{{ site.url }}" title="Back to all posts">&larr; Back</a>
                        {% else %}
                        <a href="{{ site.url }}" title="Back to all home">&larr; Home</a>
                        {% endif %}
                        {% for item in site.navigation_header %}
                        <a href="{{item.link}}">{{item.title}}</a>
                        {% endfor %}
                    </nav>
                </header>
                <div id="main" class="content">
                    <h1 class="post-title">{{page.title}}</h1>
                    {{ content }}
                </div>
    </body>

</html>